
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <div>

        <h2>Create</h2>

        <form action="/Categories/create" method="post">
            <div class="row">
                <div class="col-md-6">
                    <label for="name">Tên sản phẩm</label>
                    <input type="text"
                           class="form-control"
                           id="ProductName"
                           name="ProductName"
                           placeholder="Product Name" />

                </div>
                <div class="col-md-6">
                    <label for="price">Giá bán</label>
                    <input type="text"
                           class="form-control"
                           id="Price"
                           name="Price"
                           placeholder="Price" />

                </div>
                <div class="col-md-6">
                    <label for="quantity">So luong</label>
                    <input type="text"
                           class="form-control"
                           id="quantity"
                           name="quantity"
                           placeholder="quantity" />

                </div>
                <div class="col-md-6">
                    <label for="category_id">Ma loai</label>
                    <input type="number"
                           class="form-control"
                           id="category_id"
                           name="category_id"
                           placeholder="category_id" />

                </div>
                <div class="row">
                    <div class="mx-3 form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               id="active"
                               name="active"
                               value="true" />
                        <label class="form-check-label" for="Active">Active</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </form>

    </div>
</body>
</html>
