@{
    ViewBag.Title = "Contact";
}
<div class="banner">
    <img src="~/images/banner1.jpg" alt="">
</div>

<div class="products-list">
    <h2>Sản phẩm bán chạy</h2>
    <ul>
        <li>
            <div class="product-image">
                <img src="~/images/Prd_Lap_2.webp" alt="Sản phẩm">
                <div class="product-overlay">
                    <i class="fas fa-star"></i>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
            <div class="product-info">
                <h3 class="product-name">Tên sản phẩm</h3>
                <p class="product-price">22.590.000đ</p>
            </div>
        </li>
        <li>
            <div class="product-image">
                <img src="~/images/Prd_Lap_2.webp" alt="Sản phẩm">
                <div class="product-overlay">
                    <i class="fas fa-star"></i>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
            <div class="product-info">
                <h3 class="product-name">Tên sản phẩm</h3>
                <p class="product-price">22.590.000đ</p>
            </div>
        </li>
        <li>
            <div class="product-image">
                <img src="~/images/Prd_Lap_2.webp" alt="Sản phẩm">
                <div class="product-overlay">
                    <i class="fas fa-star"></i>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
            <div class="product-info">
                <h3 class="product-name">Tên sản phẩm</h3>
                <p class="product-price">22.590.000đ</p>
            </div>
        </li>
    </ul>
</div>